<header class="header_main not_auth my_header">
    <div class="w1000 relative">
        <div class="else_logo"><a href="/"><div class="logo_else"></div></a></div>
        <ul class="admin_menu">
            <li class="admin_menu_li">
                <a href="/" class="admin_menu_a">
                    <div class="admin_li_text">ORDERS</div>
                    <div class="admin_li_absolute">ORDERS<div class="admin_li_hover"></div></div>
                </a>
            </li>
            <li class="admin_menu_li">
                <a href="/product/create/" class="admin_menu_a">
                    <div class="admin_li_text">ADD NEW PRODUCT</div>
                    <div class="admin_li_absolute">ADD NEW PRODUCT<div class="admin_li_hover"></div></div>
                </a>
            </li>
            <li class="admin_menu_li">
                <a href="/products/" class="admin_menu_a">
                    <div class="admin_li_text">PRODUCTS</div>
                    <div class="admin_li_absolute">PRODUCTS<div class="admin_li_hover"></div></div>
                </a>
            </li>
        </ul>
    </div>
</header>
<div class="clear"></div>