<!doctype html>
<html lang="ru">
{{include RussianKawaiAdmin Head}}
<body>
    {{include RussianKawaiAdmin Header}}
    <div class="main">
        <div class="add_title"><p>Add new product</p></div>
        <div class="speedbar">
            <span class="speedspan"><a class="speeda" href="/">ADMIN</a></span>»<span class="speedspan">Add new products color</span>
        </div>
        <div class="clear"></div>
        <form action="/product.color/create/" method="post">
            <ul>
                <li>
                    <p>Название:</p>
                    <input type="text" name="name" required>
                </li>
                <li>
                    <p>RGB:</p>
                    <input type="text" name="ColorRGB" required>
                </li>
                <li>
                    <div>
                        <input type="submit" value="ДОБАВИТЬ ЦВЕТ" name="AddProductColor">
                    </div>
                </li>
            </ul>
        </form>
        <div class="clear"></div>
    </div>
    {{include RussianKawaiAdmin Footer}}
</body>
</html>