<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{include RussianKawaiShop Head}}

<body>
    <section id="content" class="j1">
        {{include RussianKawaiShop Header}}
        <div class="hd1"></div>
        <div class="nav1 nav1-1">
            <div class="ct">
                <div class="ll-nv">
                    <ul>
                        <li><a href="/">Главная</a></li>
                        <li>О нас</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tit-big j5 mb1">О нас</div>
        <div class="text-mn-page1">
            <p>Мы имеем за плечами 40 летний опыт на рынке Япони.  В производстве своей косметики мы используем только экологически чистые технологии. Наша продукция получила признание японской прессы после того, как «KAWAI» получила заказ от члена японской императорской семьи.</p>
            <div class="im-et1"><span>Мы ставим перед собой целью — создание безопасной, инновационной и современной продукции.</span></div>
            <p>Продукция «KAWAI» одна из первых в мире получила высокую оценку в области лечения атопического дерматита в соответствии с рекомендациями Министерства Здравоохранения, Труда и Благосостояния Японской Дерматологической Ассоциацией.</p>
            <p>Множество проведенных медицинских тестов доказало безопасность и эффективность данного продукта в борьбе с атопическим дерматитом, зафиксировав значительное улучшение состояния кожи.</p>
            <div class="clear"></div>
            <div class="im-et2"></div>
            <h2>Центр по проверке качества (Inspection Center – AIST Tsukuba)</h2>
            <p>испытал все косметические компоненты продукта «КАВАИ» (“KAWAI”) и не обнаружил стимулирующих или токсичных веществ. Это свидетельствовало о безопасности составляющих продукции, тем самым дав право предоставить первую когда-либо сертификацию компании японской косметики.</p>
            <div class="clear"></div>
            <div class="bx-ss1">
                <div class="et-top1">В сентябре 2009 команда из 16 медицинских экспертов во главе с профессором Фукуми Фурукоа Вакаямы (Префектурный Медицинский университет, Отдел Дерматологии), провела клиническое тестирование среди больных атопическим дерматитом.</div>
                <table>
                    <tr>
                        <td>Проверка диагноза:</td>
                        <td>Министерство Здравоохранения, Труда и Благосостояния, Японская Дерматологическая Ассоциация</td>
                    </tr>
                    <tr>
                        <td>Период тестирования:</td>
                        <td>Один год (с сентября 2008 по сентябрь 2009)</td>
                    </tr>
                    <tr>
                        <td>Область наблюдения:</td>
                        <td>кожа лица и шеи.</td>
                    </tr>
                    <tr>
                        <td>Объект тестирования:</td>
                        <td>Двадцать человек (из которых 16 женщин и 4 мужчин) зараженных атопический дерматитом, пациенты университетской клиники.</td>
                    </tr>
                    <tr>
                        <td>Средняя продолжительность<br>болезни атопического дерматита:</td>
                        <td>22,7 месяца</td>
                    </tr>
                    <tr>
                        <td>Средний возраст пациентов:</td>
                        <td>31,65 года</td>
                    </tr>
                    <tr>
                        <td>Применение:</td>
                        <td>2-4 раза ежедневно.</td>
                    </tr>
                </table>
                <div class="tit-1"><span>Результаты:</span>у 90% пациентов было продиагностирована положительная динамика.</div>
                <div class="ov-es1">
                    <ul>
                        <li class="j1"><span>10%</span>Заметное улучшение</li>
                        <li class="j2"><span>40%</span>Улучшение</li>
                        <li class="j3"><span>40%</span>Небольшое улучшение</li>
                        <li class="j4"><span>10%</span>Никаких изменений</li>
                    </ul>
                </div>
            </div>
        </div>
    <div class="hh-test1"></div>
    </section>
    {{include RussianKawaiShop Footer}}
</body>
</html>