<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{include RussianKawaiShop Head}}
<body>
    {{set ProductCategoryService productCategoryService = new ProductCategoryServiceImpl()}}
    {{set ProductService productService = new ProductServiceImpl()}}
    {{set ProductCategory productCategory = PageData["productCategory"] as ProductCategory}}
    <section id="content" class="j1">
        {{include RussianKawaiShop Header}}
        <div class="hd1"></div>
        <div class="nav1 nav1-1">
            <div class="ct">
                <div class="ll-nv">
                    <ul>
                        <li><a href="/">Главная</a></li>
                        <li>Каталог косметики</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tit-big j4 mb1">Каталог косметики</div>
        <div class="sz1">
            <div class="ll1 ll1-1">
                <div class="left-menu1">
                    <ul>
                        {{foreach(ProductCategory pcat in productCategoryService.GetAll())}}
                        <li
                            {{if(pcat.ID == productCategory.ID)}}
                                class="active"
                            {{end}}
                            ><a href="/catalog/id/{{=pcat.ID}}">{{=pcat.Name}}</a></li>
                        {{end}}
                    </ul>
                </div>
                <div class="ban1">
                    <div class="t1"><span>Закажи<br>пробники</span><a href="">прямо сейчас</a></div>
                    <a href="" class="more1">Подробне</a>
                    <a href="" class="al"></a>
                </div>
            </div>
            <div class="rr1 rr1-1">
                <div class="post1 post2">
                    <div class="post1-img">
                        <img src="/cached_files/img/t1.png" alt="">
                    </div>
                    <div class="ov-text1">
                        <span>{{=productCategory.Name}}</span>
                        <p>{{=productCategory.Description}}</p>
                    </div>
                </div>
                <div class="hh-st1"></div>
                <div class="over-more-prod-ct1">
                    {{foreach(Product product in productCategoryService.GetProductsInCategory(productCategory.ID))}}
                    <div class="prod1">
                        <div class="ct-img"><div><img src="{{=productService.GetImages(product)[0]}}" width="187" height="170"  alt="{{=product.Name}}"></div></div>
                        <a href="/product/{{=product.ID}}/" class="tit1">{{=product.Name}}</a>
                        {{if(product.Volume != null)}}
                        <span>объем: {{=product.Volume}}</span>
                        {{end}}
                        <div class="price1">{{=productService.GetPrice(product)}}</div>
                        <a href="/product/{{=product.ID}}/" class="cart-add1">в корзину</a>
                    </div>
                    {{end}}
                </div>
            </div>
        </div>
    </section>
    {{include RussianKawaiShop Footer}}
</body>
</html>