<!doctype html>
<html lang="ru">
{{include RussianKawaiShop Head}}
<body>
    {{include RussianKawaiShop Header}}
    <section>
        <div class="w1000">
            <div class="fl textcent h1_center h1_more"><h1><span class="h1">Оплата и доставка</span></h1></div>
            <div class="fl100">
                <div class="speedbar">
                    <span class="speedspan"><a href="/" class="speeda">Главная</a></span>»<span class="speedspan">Оплата и доставка</span>
                </div>
            </div>
            <div class="fl100">
                <div class="fl100"><div class="delivery_info">На нашем сайте заказ можно <b>оплатить</b> через следующие платежные системы</div></div>
                <div class="fl100 delivery_meth">
                    <div class="del_item"></div>
                    <div class="del_item"></div>
                    <div class="del_item"></div>
                    <div class="del_item"></div>
                    <div class="del_item"></div>
                    <div class="del_item"></div>
                    <div class="del_item"></div>
                    <div class="del_item"></div>
                    <div class="del_item"></div>
                    <div class="del_item"></div>
                </div>
                <div class="ems">Доставка производится сервисом <b>EMC (Express Mail Service)</b> на дом, либо в ближайщий населенный почтовый пункт.<br /><br />Весь маршут и местонахождение заказа Вы сможете<br />отслеживать по ЕМС ключу, который будет выдан сразу, после<br />обработки оплаченного заказа (в среднем, заказ обрабатывается<br />в течении 12 часов).<br /><br />Стоимость доставки - <b>бесплатно</b>.<br />
                По любым вопросам пожете обращаться на почту: <b>juliettk_kuznetsova@list.ru</b></div>
            </div>
        </div>
    </section>
    {{include RussianKawaiShop Footer}}
</body>
</html>