<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{include RussianKawaiShop Head}}

<body>
    <section id="content" class="j1">
        {{include RussianKawaiShop Header}}
        <div class="hd1"></div>
        <div class="nav1 nav1-1">
            <div class="ct">
                <div class="ll-nv">
                    <ul>
                        <li><a href="/">Главная</a></li>
                        <li>Доставка и оплата</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tit-big j6 mb1">Доставка и оплата</div>
        <div class="et-pp-df1">
            <div class="ls1">
                <span>Оплата производится автоматически через сервис Робокасса</span>
                <div class="j1"></div>
            </div>
            <div class="ls1">
                <span>Доставка осуществляется с помощью службы EMS</span>
                <div class="j2"></div>
            </div>
        </div>
        <div class="air1">
            <div class="plt1">
                <div class="lr1 j1">
                    <span><span>Скорость<br>доставки:</span></span>
                    <div>от <b>4</b> до <b>14 дней</b></div>
                </div>
                <div class="lr1 j2">
                    <span><span>Стоимость:</span></span>
                    <div><b>БЕСПЛАТНО!</b></div>
                </div>
            </div>
        </div>
        <div class="rs-post">
            <div class="tit">Вы можете отслеживать свою ПОсылку<br>на сайте <a href="http://www.emspost.ru/ru/tracking/">www.emspost.ru/ru/tracking/</a></div>
            <p>Для этого введите ваш почтовый идентификатор в соответствующее окошко, введите проверочный код и нажмите на кнопку «Найти».</p>
            <p>Учтите, что посылка появляется в сервисе ЕМС только после того, как мы обработаем ваш заказ. ВРемя обработки обычно занимает около 12 часов</p>
            <div class="et-img-rs-post"></div>
        </div>
    </section>
    {{include RussianKawaiShop Footer}}
</body>
</html>