<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{include RussianKawaiShop Head}}
{{set FAQService faqService = new FAQServiceImpl()}}
<body>
    <style>
        .hide {
            display: none;
        }
    </style>
    <section id="content" class="j1">
        {{include RussianKawaiShop Header}}
        <div class="hd1"></div>
        <div class="nav1 nav1-1">
            <div class="ct">
                <div class="ll-nv">
                    <ul>
                        <li><a href="">Главная</a></li>
                        <li>FAQ</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tit-big j7 mb1">FAQ</div>
        <div class="search-bx" id="faqsearch"><input type="text" value="Начните вводить свой вопрос..."></div>
        {{foreach(FAQ faq in faqService.GetAll())}}
        <div class="qq-hd">
            <div class="qq1" dt="0"><span>{{=faq.Question}}</span></div>
            <div class="hide-qq"><span>{{=faq.Answer}}</span></div>
        </div>
        {{end}}
    </section>
    {{include RussianKawaiShop Footer}}
    <script>
        $("document").ready(function () {
            $("#faqsearch input").keyup(function () {
                SearchFAQByQuestion();
            });
        });

        function SearchFAQByQuestion() {
            var keywords = $("#faqsearch input").val().toLowerCase().split(" ");
            $("div.qq-hd").each(function () {
                var question_ok = 0;
                for (var i = 0; i <= keywords.length; i++) {
                    if ($("div.qq1 span", this).text().toLowerCase().indexOf(keywords[i]) > -1) {
                        question_ok++;
                    }
                }
                if (keywords.length == question_ok) {
                    $(this).removeClass("hide");
                }
                else {
                    $(this).addClass("hide");
                }
            });
            return false;
        }
    </script>
</body>
</html>