<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{include RussianKawaiShop Head}}
{{set ProductCategoryService productCategoryService = new ProductCategoryServiceImpl()}}
{{set ProductService productService = new ProductServiceImpl()}}
<body>
    <div class="poss-head">
        <div class="sld1">
            <div class="sld-poss">
                <div class="fl1">
                    <ul class="slides">
                        <li>
                            <div class="ps-sld1">
                                <a href="http://kawai-cosmetics.ru/catalog/id/7"><img src="/cached_files/img/slide2.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="ps-sld1">
                                <img src="/cached_files/img/sld3.jpg" alt="">
                                <div class="ct-poss">
                                    <div class="t5"><span>Натуральная</span>японская косметика</div>
                                    <div class="t6">Привнеси в свою жизнь<br>красоту и грамонию страны<br>восходящего солнца!</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="ps-sld1">
                                <img src="/cached_files/img/sld2.jpg" alt="">
                                <div class="ct-poss">
                                    <div class="t3"><span>Мы производим косметику</span>с помощью современных, экологичных технологий</div>
                                    <div class="t4">и доставляем её с нашего завода в Японии<br>прямиком в Россию через службу EMS.<br>Время доставки занимает около 4 дней.</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="ps-sld1">
                                <img src="/cached_files/img/sld1.jpg" alt="">
                                <div class="ct-poss">
                                    <div class="t1"><span>Kazuo Nakamura</span>Основатель компании <b>KAWAI</b></div>
                                    <div class="t2">Моя компания уже 40 лет успешно существует на Японском рынке. Теперь я хочу поделиться нашими продуктами и с вами — жителями России.</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {{include RussianKawaiShop Header}}
    </div>
    <section id="content">
        <div class="title1 j1">Наши преимущества:</div>
        <div class="ov1">
            <div class="item1">
                <div style="background:url(/cached_files/img/q1.png) top no-repeat"></div>
                <span>99%<br>Натуральная</span>
                <p>99% всей продукции «КАВАИ» являются натуральной косметикой. В изготовлении используется экологически чистая технология.</p>
            </div>
            <div class="item1">
                <div style="background:url(/cached_files/img/q2.png) top no-repeat"></div>
                <span>Мы — официальные<br>производители</span>
                <p>Мы не являемся посредниками. Это официальный сайт компании производителя. Вся продукция доставляется прямиком из Японии</p>
            </div>
            <div class="item1">
                <div style="background:url(/cached_files/img/q3.png) top no-repeat"></div>
                <span>Лечит атопический<br>дерматит.</span>
                <p>Опытными японскими специалистами было проверено и подтверждено его положительное воздействие в борьбе с атопическим дерматитом.</p>
            </div>
            <div class="item1">
                <div style="background:url(/cached_files/img/q4.png) top no-repeat"></div>
                <span>40 лет на рынке<br>Японии</span>
                <p>«КАВАИ» имеет за плечами 40 летний опыт на рынке продаж в Японии.</p>
            </div>
        </div>
        <div class="sz1">
            <div class="ll1">
                <div class="title-side1 j1">Наша<br>продукция:</div>
                <div class="left-menu1 l-tabs">
                    <ul>
                        <li class="active"><a href="">DETOS EX</a></li>
                        <li><a href="">KAWAI Basic</a></li>
                        <li><a href="">KAWAI Beau</a></li>
                        <li><a href="">Особый уход</a></li>
                        <li><a href="">Body Care & Hair Care</a></li>
                        <li><a href="">Декоративная косметика</a></li>
                    </ul>
                </div>
                <div class="ban1">
                    <div class="t1"><span>Закажи<br>пробники</span><a href="/product/20/">прямо сейчас</a></div>
                    <a href="/product/20/" class="more1">Подробнее</a>
                    <a href="/product/20/" class="al"></a>
                </div>
            </div>
            <div class="rr1">
                <div>
                    {{foreach(ProductCategory productCategory in productCategoryService.GetAll())}}
                    <div class="pos-ct-item-s1 
                         {{if(productCategoryService.GetAll()[0].ID == productCategory.ID)}}
                          active
                         {{end}}
                         ">
                        <div class="post1">
                            <div class="post1-img">
                                <img src="{{=productCategory.Image}}" alt="{{=productCategory.Name}}">
                            </div>
                            <div class="ov-text1">
                                <span>{{=productCategory.Name}}</span>
                                <p>{{=productCategory.Description}}</p>
                            </div>
                        </div>
                        <div class="fl2">
                            <ul class="slides">
                                {{foreach(Product product in productCategoryService.GetProductsInCategory(productCategory.ID))}}
                                <li>
                                    <div class="prod1">
                                        <div class="ct-img"><div><img src="{{=product.Image60x135}}" alt="{{=product.Name}}"></div></div>
                                        <a href="/product/{{=product.ID}}/" class="tit1">{{=product.Name}}</a>
                                        {{if(product.Volume != null)}}
                                            <span>{{=product.Volume}}</span>
                                        {{end}}
                                        <div class="price1">{{=productService.GetPrice(product)}}</div>
                                        <a href="/product/{{=product.ID}}/" class="cart-add1">в корзину</a>
                                    </div>
                                </li>
                                {{end}}
                            </ul>
                        </div>
                    </div>
                    {{end}}
                </div>
                <div class="ban2">
                    <span>Мы являемся официальными<br>производителями японской косметики <b>«KAWAI»</b><br>и доставляем её к вам прямиком из японии</span>
                    <a href="/catalog/">Перейти в каталог</a>
                </div>
            </div>
        </div>
    </section>
    {{include RussianKawaiShop Footer}}
</body>
</html>