<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{include RussianKawaiShop Head}}

<body>
    <div class="poss-head">
        <div class="sld1">
            <div class="sld-poss">
                <div class="fl1">
                    <ul class="slides">
                        <li>
                            <div class="ps-sld1">
                                <img src="/cached_files/img/sld3.jpg" alt="">
                                <div class="ct-poss">
                                    <div class="t5"><span>Натуральная</span>японская косметика</div>
                                    <div class="t6">Привнеси в свою жизнь<br>красоту и грамонию страны<br>восходящего солнца!</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="ps-sld1">
                                <img src="/cached_files/img/sld2.jpg" alt="">
                                <div class="ct-poss">
                                    <div class="t3"><span>Мы производим косметику</span>с помощью современных, экологичных технологий</div>
                                    <div class="t4">и доставляем её с нашего завода в Японии<br>прямиком в Россию через службу EMS.<br>Время доставки занимает около 4 дней.</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="ps-sld1">
                                <img src="/cached_files/img/sld1.jpg" alt="">
                                <div class="ct-poss">
                                    <div class="t1"><span>Kazuo Nakamura</span>Основатель компании <b>KAWAI</b></div>
                                    <div class="t2">Моя компания уже 40 лет успешно существует на Японском рынке. Теперь я хочу поделиться нашими продуктами и с вами — жителями России.</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {{include RussianKawaiShop Header}}
    </div>
    <section id="content">
        <div class="title1 j1">Наши преимущества:</div>
        <div class="ov1">
            <div class="item1">
                <div style="background:url(/cached_files/img/q1.png) top no-repeat"></div>
                <span>99%<br>Натуральная</span>
                <p>99% всей продукции «КАВАИ» являются натуральной косметикой. В изготовлении используется экологически чистая технология.</p>
            </div>
            <div class="item1">
                <div style="background:url(/cached_files/img/q2.png) top no-repeat"></div>
                <span>Мы — официальные<br>производители</span>
                <p>Мы не являемся посредниками. Это официальный сайт компании производителя. Вся продукция доставляется прямиком из Японии</p>
            </div>
            <div class="item1">
                <div style="background:url(/cached_files/img/q3.png) top no-repeat"></div>
                <span>Лечит атопический<br>дерматит.</span>
                <p>Опытными японскими специалистами было проверено и подтверждено его положительное воздействие в борьбе с атопическим дерматитом.</p>
            </div>
            <div class="item1">
                <div style="background:url(/cached_files/img/q4.png) top no-repeat"></div>
                <span>40 лет на рынке<br>Японии</span>
                <p>«КАВАИ» имеет за плечами 40 летний опыт на рынке продаж в Японии.</p>
            </div>
        </div>
        <div class="sz1">
            <div class="ll1">
                <div class="title-side1 j1">Наша<br>продукция:</div>
                <div class="left-menu1 l-tabs">
                    <ul>
                        <li class="active"><a href="">Detos EX</a></li>
                        <li><a href="">Kawai Basic</a></li>
                        <li><a href="">Coenzyme Q10</a></li>
                        <li><a href="">Special Care</a></li>
                        <li><a href="">Body Care & Hair Care</a></li>
                        <li><a href="">Make Up Series</a></li>
                    </ul>
                </div>
                <div class="ban1">
                    <div class="t1"><span>Закажи<br>пробники</span><a href="">прямо сейчас</a></div>
                    <a href="" class="more1">Подробне</a>
                    <a href="" class="al"></a>
                </div>
            </div>
            <div class="rr1">
                <div>
                    <div class="pos-ct-item-s1 active">
                        <div class="post1">
                            <div class="post1-img">
                                <img src="/cached_files/img/t1.png" alt="">
                            </div>
                            <div class="ov-text1">
                                <span>Detos EX</span>
                                <p>DETOS является "естественным" комплексом продуктов по уходу за красотой кожи, который основан на новой концепции, обеспечивающей кожу лишь необходимыми компонентами и создающей благоприятные условия для ее самоочищения.</p>
                            </div>
                        </div>
                        <div class="fl2">
                            <ul class="slides">
                                <li>
                                    <div class="prod1">
                                        <div class="ct-img"><div><img src="/cached_files/img/t2.png" alt=""></div></div>
                                        <a href="" class="tit1">Очищающий крем для лица</a>
                                        <span>объем: 150г</span>
                                        <div class="price1">5460</div>
                                        <a href="" class="cart-add1">в корзину</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="prod1">
                                        <div class="ct-img"><div><img src="/cached_files/img/t2.png" alt=""></div></div>
                                        <a href="" class="tit1">Очищающий крем для лица</a>
                                        <span>объем: 150г</span>
                                        <div class="price1">5460</div>
                                        <a href="" class="cart-add1">в корзину</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="prod1">
                                        <div class="ct-img"><div><img src="/cached_files/img/t2.png" alt=""></div></div>
                                        <a href="" class="tit1">Очищающий крем для лица</a>
                                        <span>объем: 150г</span>
                                        <div class="price1">5460</div>
                                        <a href="" class="cart-add1">в корзину</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="prod1">
                                        <div class="ct-img"><div><img src="/cached_files/img/t2.png" alt=""></div></div>
                                        <a href="" class="tit1">Очищающий крем для лица</a>
                                        <span>объем: 150г</span>
                                        <div class="price1">5460</div>
                                        <a href="" class="cart-add1">в корзину</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="prod1">
                                        <div class="ct-img"><div><img src="/cached_files/img/t2.png" alt=""></div></div>
                                        <a href="" class="tit1">Очищающий крем для лица</a>
                                        <span>объем: 150г</span>
                                        <div class="price1">5460</div>
                                        <a href="" class="cart-add1">в корзину</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="prod1">
                                        <div class="ct-img"><div><img src="/cached_files/img/t2.png" alt=""></div></div>
                                        <a href="" class="tit1">Очищающий крем для лица</a>
                                        <span>объем: 150г</span>
                                        <div class="price1">5460</div>
                                        <a href="" class="cart-add1">в корзину</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="pos-ct-item-s1">
                        <div class="post1">
                            <div class="post1-img">
                                <img src="/cached_files/img/t1.png" alt="">
                            </div>
                            <div class="ov-text1">
                                <span>Kawai Basic</span>
                                <p>DETOS является "естественным" комплексом продуктов по уходу за красотой кожи, который основан на новой концепции, обеспечивающей кожу лишь необходимыми компонентами и создающей благоприятные условия для ее самоочищения.</p>
                            </div>
                        </div>
                        <div class="fl2">
                            <ul class="slides">
                                <li>
                                    <div class="prod1">
                                        <div class="ct-img"><div><img src="/cached_files/img/t2.png" alt=""></div></div>
                                        <a href="" class="tit1">Очищающий крем для лица</a>
                                        <span>объем: 150г</span>
                                        <div class="price1">5460</div>
                                        <a href="" class="cart-add1">в корзину</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="prod1">
                                        <div class="ct-img"><div><img src="/cached_files/img/t2.png" alt=""></div></div>
                                        <a href="" class="tit1">Очищающий крем для лица</a>
                                        <span>объем: 150г</span>
                                        <div class="price1">5460</div>
                                        <a href="" class="cart-add1">в корзину</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="prod1">
                                        <div class="ct-img"><div><img src="/cached_files/img/t2.png" alt=""></div></div>
                                        <a href="" class="tit1">Очищающий крем для лица</a>
                                        <span>объем: 150г</span>
                                        <div class="price1">5460</div>
                                        <a href="" class="cart-add1">в корзину</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="prod1">
                                        <div class="ct-img"><div><img src="/cached_files/img/t2.png" alt=""></div></div>
                                        <a href="" class="tit1">Очищающий крем для лица</a>
                                        <span>объем: 150г</span>
                                        <div class="price1">5460</div>
                                        <a href="" class="cart-add1">в корзину</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="prod1">
                                        <div class="ct-img"><div><img src="/cached_files/img/t2.png" alt=""></div></div>
                                        <a href="" class="tit1">Очищающий крем для лица</a>
                                        <span>объем: 150г</span>
                                        <div class="price1">5460</div>
                                        <a href="" class="cart-add1">в корзину</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="prod1">
                                        <div class="ct-img"><div><img src="/cached_files/img/t2.png" alt=""></div></div>
                                        <a href="" class="tit1">Очищающий крем для лица</a>
                                        <span>объем: 150г</span>
                                        <div class="price1">5460</div>
                                        <a href="" class="cart-add1">в корзину</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="pos-ct-item-s1">
                        <div class="post1">
                            <div class="post1-img">
                                <img src="/cached_files/img/t1.png" alt="">
                            </div>
                            <div class="ov-text1">
                                <span>Coenzyme Q10</span>
                                <p>DETOS является "естественным" комплексом продуктов по уходу за красотой кожи, который основан на новой концепции, обеспечивающей кожу лишь необходимыми компонентами и создающей благоприятные условия для ее самоочищения.</p>
                            </div>
                        </div>
                        <div class="fl2">
                            <ul class="slides">
                                <li>
                                    <div class="prod1">
                                        <div class="ct-img"><div><img src="/cached_files/img/t2.png" alt=""></div></div>
                                        <a href="" class="tit1">Очищающий крем для лица</a>
                                        <span>объем: 150г</span>
                                        <div class="price1">5460</div>
                                        <a href="" class="cart-add1">в корзину</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="prod1">
                                        <div class="ct-img"><div><img src="/cached_files/img/t2.png" alt=""></div></div>
                                        <a href="" class="tit1">Очищающий крем для лица</a>
                                        <span>объем: 150г</span>
                                        <div class="price1">5460</div>
                                        <a href="" class="cart-add1">в корзину</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="prod1">
                                        <div class="ct-img"><div><img src="/cached_files/img/t2.png" alt=""></div></div>
                                        <a href="" class="tit1">Очищающий крем для лица</a>
                                        <span>объем: 150г</span>
                                        <div class="price1">5460</div>
                                        <a href="" class="cart-add1">в корзину</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="prod1">
                                        <div class="ct-img"><div><img src="/cached_files/img/t2.png" alt=""></div></div>
                                        <a href="" class="tit1">Очищающий крем для лица</a>
                                        <span>объем: 150г</span>
                                        <div class="price1">5460</div>
                                        <a href="" class="cart-add1">в корзину</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="prod1">
                                        <div class="ct-img"><div><img src="/cached_files/img/t2.png" alt=""></div></div>
                                        <a href="" class="tit1">Очищающий крем для лица</a>
                                        <span>объем: 150г</span>
                                        <div class="price1">5460</div>
                                        <a href="" class="cart-add1">в корзину</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="prod1">
                                        <div class="ct-img"><div><img src="/cached_files/img/t2.png" alt=""></div></div>
                                        <a href="" class="tit1">Очищающий крем для лица</a>
                                        <span>объем: 150г</span>
                                        <div class="price1">5460</div>
                                        <a href="" class="cart-add1">в корзину</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="pos-ct-item-s1">
                        <div class="post1">
                            <div class="post1-img">
                                <img src="/cached_files/img/t1.png" alt="">
                            </div>
                            <div class="ov-text1">
                                <span>Special Care</span>
                                <p>DETOS является "естественным" комплексом продуктов по уходу за красотой кожи, который основан на новой концепции, обеспечивающей кожу лишь необходимыми компонентами и создающей благоприятные условия для ее самоочищения.</p>
                            </div>
                        </div>
                        <div class="fl2">
                            <ul class="slides">
                                <li>
                                    <div class="prod1">
                                        <div class="ct-img"><div><img src="/cached_files/img/t2.png" alt=""></div></div>
                                        <a href="" class="tit1">Очищающий крем для лица</a>
                                        <span>объем: 150г</span>
                                        <div class="price1">5460</div>
                                        <a href="" class="cart-add1">в корзину</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="prod1">
                                        <div class="ct-img"><div><img src="/cached_files/img/t2.png" alt=""></div></div>
                                        <a href="" class="tit1">Очищающий крем для лица</a>
                                        <span>объем: 150г</span>
                                        <div class="price1">5460</div>
                                        <a href="" class="cart-add1">в корзину</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="prod1">
                                        <div class="ct-img"><div><img src="/cached_files/img/t2.png" alt=""></div></div>
                                        <a href="" class="tit1">Очищающий крем для лица</a>
                                        <span>объем: 150г</span>
                                        <div class="price1">5460</div>
                                        <a href="" class="cart-add1">в корзину</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="prod1">
                                        <div class="ct-img"><div><img src="/cached_files/img/t2.png" alt=""></div></div>
                                        <a href="" class="tit1">Очищающий крем для лица</a>
                                        <span>объем: 150г</span>
                                        <div class="price1">5460</div>
                                        <a href="" class="cart-add1">в корзину</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="prod1">
                                        <div class="ct-img"><div><img src="/cached_files/img/t2.png" alt=""></div></div>
                                        <a href="" class="tit1">Очищающий крем для лица</a>
                                        <span>объем: 150г</span>
                                        <div class="price1">5460</div>
                                        <a href="" class="cart-add1">в корзину</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="prod1">
                                        <div class="ct-img"><div><img src="/cached_files/img/t2.png" alt=""></div></div>
                                        <a href="" class="tit1">Очищающий крем для лица</a>
                                        <span>объем: 150г</span>
                                        <div class="price1">5460</div>
                                        <a href="" class="cart-add1">в корзину</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="pos-ct-item-s1">
                        <div class="post1">
                            <div class="post1-img">
                                <img src="/cached_files/img/t1.png" alt="">
                            </div>
                            <div class="ov-text1">
                                <span>Body Care & Hair Care</span>
                                <p>DETOS является "естественным" комплексом продуктов по уходу за красотой кожи, который основан на новой концепции, обеспечивающей кожу лишь необходимыми компонентами и создающей благоприятные условия для ее самоочищения.</p>
                            </div>
                        </div>
                        <div class="fl2">
                            <ul class="slides">
                                <li>
                                    <div class="prod1">
                                        <div class="ct-img"><div><img src="/cached_files/img/t2.png" alt=""></div></div>
                                        <a href="" class="tit1">Очищающий крем для лица</a>
                                        <span>объем: 150г</span>
                                        <div class="price1">5460</div>
                                        <a href="" class="cart-add1">в корзину</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="prod1">
                                        <div class="ct-img"><div><img src="/cached_files/img/t2.png" alt=""></div></div>
                                        <a href="" class="tit1">Очищающий крем для лица</a>
                                        <span>объем: 150г</span>
                                        <div class="price1">5460</div>
                                        <a href="" class="cart-add1">в корзину</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="prod1">
                                        <div class="ct-img"><div><img src="/cached_files/img/t2.png" alt=""></div></div>
                                        <a href="" class="tit1">Очищающий крем для лица</a>
                                        <span>объем: 150г</span>
                                        <div class="price1">5460</div>
                                        <a href="" class="cart-add1">в корзину</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="prod1">
                                        <div class="ct-img"><div><img src="/cached_files/img/t2.png" alt=""></div></div>
                                        <a href="" class="tit1">Очищающий крем для лица</a>
                                        <span>объем: 150г</span>
                                        <div class="price1">5460</div>
                                        <a href="" class="cart-add1">в корзину</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="prod1">
                                        <div class="ct-img"><div><img src="/cached_files/img/t2.png" alt=""></div></div>
                                        <a href="" class="tit1">Очищающий крем для лица</a>
                                        <span>объем: 150г</span>
                                        <div class="price1">5460</div>
                                        <a href="" class="cart-add1">в корзину</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="prod1">
                                        <div class="ct-img"><div><img src="/cached_files/img/t2.png" alt=""></div></div>
                                        <a href="" class="tit1">Очищающий крем для лица</a>
                                        <span>объем: 150г</span>
                                        <div class="price1">5460</div>
                                        <a href="" class="cart-add1">в корзину</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="pos-ct-item-s1">
                        <div class="post1">
                            <div class="post1-img">
                                <img src="/cached_files/img/t1.png" alt="">
                            </div>
                            <div class="ov-text1">
                                <span>Make Up Series</span>
                                <p>DETOS является "естественным" комплексом продуктов по уходу за красотой кожи, который основан на новой концепции, обеспечивающей кожу лишь необходимыми компонентами и создающей благоприятные условия для ее самоочищения.</p>
                            </div>
                        </div>
                        <div class="fl2">
                            <ul class="slides">
                                <li>
                                    <div class="prod1">
                                        <div class="ct-img"><div><img src="/cached_files/img/t2.png" alt=""></div></div>
                                        <a href="" class="tit1">Очищающий крем для лица</a>
                                        <span>объем: 150г</span>
                                        <div class="price1">5460</div>
                                        <a href="" class="cart-add1">в корзину</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="prod1">
                                        <div class="ct-img"><div><img src="/cached_files/img/t2.png" alt=""></div></div>
                                        <a href="" class="tit1">Очищающий крем для лица</a>
                                        <span>объем: 150г</span>
                                        <div class="price1">5460</div>
                                        <a href="" class="cart-add1">в корзину</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="prod1">
                                        <div class="ct-img"><div><img src="/cached_files/img/t2.png" alt=""></div></div>
                                        <a href="" class="tit1">Очищающий крем для лица</a>
                                        <span>объем: 150г</span>
                                        <div class="price1">5460</div>
                                        <a href="" class="cart-add1">в корзину</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="prod1">
                                        <div class="ct-img"><div><img src="/cached_files/img/t2.png" alt=""></div></div>
                                        <a href="" class="tit1">Очищающий крем для лица</a>
                                        <span>объем: 150г</span>
                                        <div class="price1">5460</div>
                                        <a href="" class="cart-add1">в корзину</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="prod1">
                                        <div class="ct-img"><div><img src="/cached_files/img/t2.png" alt=""></div></div>
                                        <a href="" class="tit1">Очищающий крем для лица</a>
                                        <span>объем: 150г</span>
                                        <div class="price1">5460</div>
                                        <a href="" class="cart-add1">в корзину</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="prod1">
                                        <div class="ct-img"><div><img src="/cached_files/img/t2.png" alt=""></div></div>
                                        <a href="" class="tit1">Очищающий крем для лица</a>
                                        <span>объем: 150г</span>
                                        <div class="price1">5460</div>
                                        <a href="" class="cart-add1">в корзину</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="ban2">
                    <span>Мы являемся официальными<br>производителями японской косметики <b>«KAWAI»</b><br>и доставляем её к вам прямиком из японии</span>
                    <a href="">Перейти в каталог</a>
                </div>
            </div>
        </div>
    </section>
    <footer id="footer">
        <div class="ft1"></div>
        <div class="ct-foot">
            <ul class="foot-menu">
                <li><a href="">Главная</a></li>
                <li><a href="">О НАс</a></li>
                <li><a href="">Каталог</a></li>
                <li><a href="">Доставка и оплпа</a></li>
                <li><a href="">Заказы</a></li>
                <li><a href="">Начать сотрудничать</a></li>
                <li><a href="">FAQ</a></li>
                <li><a href="">КОнтакты</a></li>
                <li class="help"></li>
            </ul>
            <div class="pay1">
                <div class="tf1">Способы оплаты:</div>
                <div class="sp-pay1">
                    <a href="" class="j1"></a>
                    <a href="" class="j2"></a>
                    <a href="" class="j3"></a>
                    <a href="" class="j4"></a>
                    <a href="" class="j5"></a>
                </div>
                <div class="pt-ov1">
                    <span>И все остальные сопсобы<br>сервиса «робокасса»</span>
                    <div></div>
                </div>
            </div>
            <div class="ft-pd-foot1">
                <div class="ll1">
                    <div class="logo2"><a href=""></a></div>
                    <p>© Copyright - KAWAI 1975-2015</p>
                </div>
                <div class="ll2">
                    <p>Сознание понимает концептуальный стресс. Гендер отчуждает социометрический импульс. Контраст изменяем. Как отмечает Д.Майерс, у нас есть некоторое чувство конфликта, которое возникает с ситуации несоответствия желаемого и</p>
                </div>
                <div class="ll3">
                    <div class="tit">Подпишитесь на рассылку<br>акций, скидок и предложений:</div>
                    <form><input type="text" value="Введите ваш e-mail"><input type="submit" value="подписаться"></form>
                </div>
                <div class="copyr1">
                    <div><span>Site design —</span><a href=""></a></div>
                </div>
            </div>
        </div>
    </footer>
    <div class="modal m1">
        <div class="modal-tb">
            <div class="bg-modal"></div>
            <div class="modal-con">
                <div class="close"></div>
                <div class="ctr1"><div class="title-f j1">Заказать обратный<br>звонок</div></div>
                <div class="clear"></div>
                <div class="ip none"><input type="text" value="Введите имя"></div>
                <div class="ip"><input type="text" value="Введите телефон"></div>
                <div class="ip"><input type="text" value="В какое время вам первзонить?"></div>
                <div class="hh1"></div>
                <div class="sub-s">Перезвоните мне<input type="submit" value=""></div>
            </div>
        </div>
    </div>
    <div class="modal m2">
        <div class="modal-tb">
            <div class="bg-modal"></div>
            <div class="modal-con">
                <div class="close"></div>
                <div class="ctr1"><div class="title-f title-f2">Спасибо,<br>мы вам скоро<br>перезвоним !</div></div>
                <div class="clear"></div>
                <div class="sub-s sub-s2">Ок</div>
            </div>
        </div>
    </div>
</body>
</html>