<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{include RussianKawaiShop Head}}

{{set Order order = PageData["Order"] as Order}}
{{set OrderService orderService = new OrderServiceImpl()}}
{{set ProductService productService = new ProductServiceImpl()}}
{{set ProductColorService productColorService = new ProductColorServiceImpl()}}
{{set PartnerService partnerService = new PartnerServiceImpl()}}
{{set Robokassa robokassa = new Robokassa()}}
<body>
    <section id="content" class="j1">
        {{include RussianKawaiShop Header}}
        <div class="hd1"></div>
        <div class="nav1 nav1-1">
            <div class="ct">
                <div class="ll-nv">
                    <ul>
                        <li><a href="/">Главная</a></li>
                        <li>Мои заказы</li>
                        <li>Заказ номер {{=order.ID}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tit-big j2 mb1">Заказ номер {{=order.ID}}<div class="bt"></div></div>
        <div class="table-ent1">
            {{foreach(Product product in orderService.GetProducts(order))}}
            <div class="line1">
                <div class="lt-img1">
                    <span><img src="{{=product.Image30x68}}" alt="{{=product.Name}}"></span>
                    <div></div>
                </div>
                <div class="te-text-prod1 j1">
                    <a href="/product/{{=product.ID}}/" target="_blank">{{=product.Name}}</a>
                    {{if(product.Volume.Length > 0)}}
                    <div>Объём: <b>{{=product.Volume}}</b></div>
                    {{end}}
                    {{if(product.Color != 0)}}
                    <span>Цвет: <b>{{=productColorService.GetByID(product.Color).Name}}</b></span>
                    {{end}}
                </div>
                <div class="dr3">
                    <div class="tit-pt">Количество:</div>
                    <div class="numb1">{{=orderService.CountProductsNum(product, order)}}</div>
                </div>
                <div class="dr4">
                    <div class="tit-pt">Цена:</div>
                    <div class="numb2">{{=productService.GetPrice(product) * orderService.CountProductsNum(product, order)}}</div>
                </div>
            </div>
            {{end}}
        </div>
        <div class="tb1">
            <div class="et-tb-over1">
                <table>
                    <tr>
                        <td>
                            <span>Индекс</span>
                            <p>{{=order.Index}}</p>
                        </td>
                        <td>
                            <span>Страна</span>
                            <p>{{=order.Country}}</p>
                        </td>
                        <td>
                            <span>Город</span>
                            <p>{{=order.City}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Улица</span>
                            <p>{{=order.Street}}</p>
                        </td>
                        <td>
                            <span>Дом</span>
                            <p>{{=order.Home}}</p>
                        </td>
                        <td>
                            <span>Квартира</span>
                            <p>{{=order.Room}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <span>Комментарий</span>
                            <p>{{=order.Comment}}</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="pl-prc1">
            <div class="ll1">Доставка: <span>Бесплатно</span></div>
            <div class="rr1">Итого: 
            <span>{{=order.TotalCost}}</span>
            {{if(order.SalePercentage > 0)}}
                <br />(со скидкой {{=order.SalePercentage}} %)
                {{end}}
            </div>
        </div>
        {{if(order.Status == 0)}}
        <div class="pl-prc2">
            <div class="ll1">Статус заказа: <span>Не оплачено</span></div>
            <div class="rr1"><a href="{{=robokassa.GetPaymentURL(order)}}">Оплатить заказ</a></div>
        </div>
        {{end}}
        {{else}}
        <div class="pl-prc3">
            {{if(order.Status == 1)}}
            <div class="stetr st1">
                <div class="lb-tit">Статус заказа:</div>
                <div class="er1"><span>Оплачено</span></div>
                <div class="er2"><span>Заказ формируется...</span>В среднем около 12 часов</div>
            </div>
            {{end}}
            {{else if(order.Status == 2)}}
            <div class="stetr st2">
                <div class="lb-tit">Статус заказа:</div>
                <div class="er1 none"><span>Оплачено</span></div>
                <div class="er2 er2-1">
                    <div class="ll1">
                        <span>Заказ отправлен...</span>
                        <a href="/delivery/" class="wt1">как отслеживать?</a>
                    </div>
                    <div class="rr1">
                        <div>Номер для отслеживания:</div>
                        <b>{{=order.EMS}}</b>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
        {{end}}
    <div class="hh-test1"></div>
    </section>
    {{include RussianKawaiShop Footer}}
</body>
</html>