<!doctype html>
<html lang="ru">
{{include RussianKawaiShop Head}}
<body>
    {{include RussianKawaiShop Header}}
    {{set ProductService productService = new ProductServiceImpl()}}
    {{set ProductColorService productColorService = new ProductColorServiceImpl()}}
    {{set Product product = PageData["Product"] as Product}}
    <section>
        <div class="w1000">
            <div class="fl textcent h1_center h1_more"><h1><span class="h1">{{=product.Name}}</span></h1></div>
            <div class="fl100">
                <div class="speedbar">
                    <span class="speedspan"><a href="/" class="speeda">Главная</a></span>»<span class="speedspan"><a href="/category/" class="speeda">{{=productService.GetCategory(product).Name}}</a></span>»<span class="speedspan">{{=product.Name}}</span>
                </div>
            </div>
            <div class="fl100 buy">
                {{include RussianKawaiShop CatalogMenu}}
                <div class="photos">
                    <div class="photos_image"><img src="{{=productService.GetImages(product)[0]}}" id="main" alt="{{=product.Name}}" /></div>
                    {{set int i = 1}}
                    {{foreach(string image in productService.GetImages(product))}}
                        <a class="photos_image" onclick="changeImage({{=i}})"><img src="{{=image}}" id="shop{{=i}}" alt="{{product.Name}}" /></a>
                        {{edit i = i+1}}
                    {{end}}

                    {{if(productService.GetProductsInCategory(product).Count > 0)}}
                    <div class="fl100 textcenter"><span class="nabor">В наборе:</span></div>
                        {{foreach(Product pr in productService.GetProductsInCategory(product))}}
                        <div class="fl100">
                            <a href="/product/{{=pr.ID}}"><div class="photos_unique"><img src="{{=productService.GetImages(pr)[0]}}" alt="{{=pr.Name}}" /></div></a>
                            <a href="/product/{{=pr.ID}}"><div class="green_text text_a nabor_width">{{=pr.Name}}</div></a>
                            <div class="price_nabor">Цена: <span class="green_text">{{=productService.GetPrice(pr)}} р.</span></div>
                        </div>
                        {{end}}
                    {{end}}
                </div>
                <div class="information">
                    <div class="information_top">
                        {{if(product.Volume != null)}}
                        <div class="have">Объем: <span class="green">{{=product.Volume}}</span></div>
                        {{end}}
                        <a href="/"><div class="green_big">{{=product.Name}}</div></a>
                        <div class="price">
                            Цена: <span class="orange_big">{{=productService.GetPrice(product)}}</span><span class="orange_little">руб.</span>
                        </div>
                    </div>
                    <div class="cart_to">
                        <div class="cart_counts">Количество:</div>
                        <div class="cart_buttons">
                            <div class="cart_minus input_shadow"><div class="cart_minus_icon"></div></div>
                            <input type="text" value="1" name="count" readonly="readonly" class="cart_input input_shadow" />
                            <div class="cart_plus input_shadow"><div class="cart_plus_icon"></div></div>
                        </div>
                        <button class="home_button cart_button" type="button" onclick="AddToCart({{=product.ID}});">Добавить в корзину</button>
                    </div>
                    {{if(product.Colors != "")}}
                    <input type="hidden" id="productColor" value="{{=productService.GetProductColors(product)[0].ID}}" />
                    <div class="color_select">
                        <p>Цвет:</p>
                        <div id="dropdown">
                            <span></span>
                            <input type="text" name="color" class="color_input" />
                            <ul id="dropdown_list">
                                {{foreach(ProductColor productColor in productService.GetProductColors(product))}}
                                <li><span>{{=productColor.RGB}}</span><color style="display:none;">{{=productColor.ID}}</color>{{=productColor.Name}}</li>
                                {{end}}
                            </ul>
                        </div>
                    </div>
                    {{end}}
                    <div class="information_text">
                        {{=product.Description}}
                        <!--<p class="consistent"><b>Состав:</b> убихинон (коэнзим), гиалyрoновая кислота, растительный коллаген, растительные кepамиды, витамины BCEPQ.</p>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{include RussianKawaiShop Footer}}
    {{include RussianKawaiShop AddProductToCart}}
    <script>
        function changeImage(item) {
            $('#main').attr('src', $('#shop' + item).attr('src'));
        }
        $(".cart_plus").click(function () {
            var value = parseInt($(this).closest(".cart_buttons").find("input").val(), 10);

            if (value != 10) {
                $(this).closest(".cart_buttons").find("input").val(value + 1);
            }
        });
        $(".cart_minus").click(function () {
            var value = parseInt($(this).closest(".cart_buttons").find("input").val(), 10);

            if (value != 1) {
                $(this).closest(".cart_buttons").find("input").val(value - 1);
            }
        });
        $('#dropdown input').val($('#dropdown li:first').clone().children().remove().end().text());

        $('#dropdown li').click( function() {
            $('#dropdown input').val($(this).clone().children().remove().end().text());
            $('#dropdown ul').toggle();
            $('input#productColor').val($(this).find('color').text());
        });
        $('#dropdown li').hover( function() {
            var color = $(this).find('span').text();
            $(this).css("background",color);
        }, function () {
            $(this).css("background","none");
        });

        $(function () {
            $('#dropdown input, #dropdown span').click(function (e) {
                var $message = $('#dropdown_list');
 
                if ($message.css('display') != 'block') {
                    $message.show();
 
                    var yourClick = true;
                    $(document).bind('click.myEvent', function (e) {
                        if (!yourClick && $(e.target).closest('#dropdown_list').length == 0) {
                            $message.hide();
                            $(document).unbind('click.myEvent');
                        }
                        yourClick = false;
                    });
                }
 
                e.preventDefault();
            });
        });
    </script>
</body>
</html>