<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{include RussianKawaiShop Head}}
<body>
    {{set ProductService productService = new ProductServiceImpl()}}
    {{set ProductColorService productColorService = new ProductColorServiceImpl()}}
    {{set Product product = PageData["Product"] as Product}}
    {{set ProductCategoryService productCategoryService = new ProductCategoryServiceImpl()}}
    {{set ProductCategory productCategory = productCategoryService.GetByID(product.CategoryId)}}
    <section id="content" class="j1">
        {{include RussianKawaiShop Header}}
        <div class="hd1"></div>
        <div class="nav1">
            <div class="ct">
                <div class="ll-nv">
                    <ul>
                        <li><a href="/">Главная</a></li>
                        <li><a href="/catalog/id/{{=productCategory.ID}}">{{=productCategory.Name}}</a></li>
                        <li>{{=product.Name}}</li>
                    </ul>
                </div>
                <a href="/catalog/id/{{=productCategory.ID}}/" class="back1">Назад в каталог</a>
            </div>
        </div>
        <div class="sz2">
            <div class="ll1">
                <div class="gl1">
                    {{set List<string> images = productService.GetImages(product)}}
                    {{for(int i = 0; i < images.Count; i++)}}
                    <div class="item1 
                         {{if(i == 0)}}
                         active
                         {{end}}
                         ">
                        <img src="{{=images[i]}}" alt="{{=product.Name}}">
                        <div></div>
                        <a data-fancybox-group="gl1" href="{{=images[i]}}"></a>
                        <div></div>
                    </div>
                    {{end}}
                </div>
                <div class="big-ert">
                    <img src="{{=productService.GetImages(product)[0]}}" alt="{{=product.Name}}">
                    <div></div>
                    <a></a>
                </div>
                {{if(productService.GetProductsInCategory(product).Count > 0)}}
                <div class="clear"></div>
                <div class="tit-r1">В набор входит:</div>
                <div class="clear"></div>
                <div class="et-prod-item1">
                    {{foreach(Product pr in productService.GetProductsInCategory(product))}}
                    <div class="pst-prod1">
                        <div class="lt-img">
                            <span><img src="{{=pr.Image60x135}}" alt="{{=pr.Name}}"></span>
                            <div></div>
                        </div>
                        <div class="text-ov-prod1"><div><a href="/product/{{=pr.ID}}">{{=pr.Name}}</a>
                            {{if(pr.Volume.Length > 0)}}
                            <span>объем: {{=pr.Volume}}</span>
                            {{end}}
                            </div>
                        </div>
                        <div class="price-smal-rr1"><div><span>{{=productService.GetPrice(pr)}}</span></div></div>
                    </div>
                    {{end}}
                </div>
                {{end}}
            </div>
            <div class="rr1">
                <div class="tit1">{{=product.Name}}</div>
                <div class="ep1">Объем: <span>{{=product.Volume}}</span></div>
                {{if(product.Colors != "")}}
                <div class="ep2">
                    <div class="et-sl">Цвет:</div>
                    <select id="ProductColorSelect">
                        {{foreach(ProductColor productColor in productService.GetProductColors(product))}}
                        <option id="{{=productColor.ID}}">{{=productColor.Name}}</option>
                        {{end}}
                    </select>
                </div>
                {{end}}
                <div class="clear"></div>
                <p>{{=product.Description}}</p>
                <div class="price-s1">
                    <div class="e1">Цена:</div>
                    <div class="e2"><span>{{=productService.GetPrice(product)}} </span></div>
                    <div class="des-kk">
                        <div><span></span><span></span></div>
                        <input type="text" value="1" class="cart_input">
                    </div>
                </div>
                <a href="" class="cart-add1 cart-add1-now1" onclick="return AddToCart({{=product.ID}});">Добавить в корзину</a>
            </div>
        </div>
        {{if(productCategoryService.GetProductsInCategory(product.CategoryId).Count > 0)}}
        <div class="title2"><span>Другие товары  из серии {{=productCategoryService.GetByID(product.CategoryId).Name}}:</span></div>
        <div class="fl3">
            <ul class="slides">
                {{foreach(Product pr in productCategoryService.GetProductsInCategory(product.CategoryId))}}
                <li>
                    <div class="prod1">
                        <div class="ct-img"><div><img src="{{=pr.Image60x135}}" alt="{{=pr.Name}}"></div></div>
                        <a href="/product/{{=pr.ID}}/" class="tit1">{{=pr.Name}}</a>
                        {{if(pr.Volume != "")}}
                        <span>объем: {{=pr.Volume}}</span>
                        {{end}}
                        <div class="price1">{{=productService.GetPrice(pr)}}</div>
                        <a href="/product/{{=pr.ID}}/" class="cart-add1">в корзину</a>
                    </div>
                </li>
                {{end}}
            </ul>
        </div>
        {{end}}
    </section>
    {{include RussianKawaiShop Footer}}
    {{include RussianKawaiShop AddProductToCart}}
</body>
</html>