<script>
    var ws = new WebSocket("ws://{{=client.Host}}/ws/");

    function AddToCart(id) {
        var num = $(".cart_input").val();
        var productColor = 0;
        if ($("input#productColor").val() != null)
        {
            productColor = $("input#productColor").val();
        }
        ws.send("AddProductToCartAction{{=BaseFuncs.WSplit}}" + id + "{{=BaseFuncs.WSplit}}" + num + "{{=BaseFuncs.WSplit}}" + productColor);
        alert("Успешно добавлено в корзину!");
    }

    ws.onmessage = function (evt) {
        var data = evt.data.split("{{=BaseFuncs.WSplit}}");
        if (data[0] == "CountItemsInCartAction") {
            $("div.cart_count").text(data[1]);
        }
    };
</script>