<script>
    var ws = new WebSocket("ws://{{=client.Host}}/cart/");
    var WSConnected = false;
    ws.onopen = function (evt) {
        WSConnected = true;
    };

    function AddToCart(id) {
        var num = $(".cart_input").val();
        var productColor = 0;
        if ($("#ProductColorSelect option:selected").attr("id") != null) {
            productColor = $("#ProductColorSelect option:selected").attr("id");
        }

        if (WSConnected) {
            ws.send("AddProductToCartAction{{=BaseFuncs.WSplit}}" + id + "{{=BaseFuncs.WSplit}}" + num + "{{=BaseFuncs.WSplit}}" + productColor);
            $('.m3').fadeIn(400);
            ress();
        }
        else {
            $.ajax({
                type: "POST",
                url: "/cart/",
                data: { action: "AddProductToCartAction", id: id, num: num, productColor: productColor },
                success: function (data) {
                    $("items").text(data);
                    $('.m3').fadeIn(400);
                    ress();
                },
                error: function () {
                    alert("ERROR. Please try later or contact us.");
                }
            });
        }
    }

    ws.onmessage = function (evt) {
        var data = evt.data.split("{{=BaseFuncs.WSplit}}");
        if (data[0] == "CountItemsInCartAction") {
            $("items").text(data[1]);
        }
    };
</script>