<!doctype html>
<html lang="ru">
{{include RussianKawaiAdmin Head}}
<body>
    {{include RussianKawaiAdmin Header}}
    {{set RussianKawaiShop.FAQService faqService = new RussianKawaiShop.FAQServiceImpl()}}
    <div class="main">
        <div class="add_title"><p>Add new FAQ</p></div>
        <div class="speedbar">
            <span class="speedspan"><a class="speeda" href="/">ADMIN</a></span>»<span class="speedspan">Add new FAQ</span>
        </div>
        <div class="clear"></div>
        <form action="/faq/create/" method="post">
            <ul>
                <li>
                    <p>Вопрос:</p>
                    <textarea name="question" required></textarea>
                </li>
                <li>
                    <p>Ответ:</p>
                    <textarea name="answer" required></textarea>
                </li>
                <li>
                    <div>
                        <input type="submit" value="ДОБАВИТЬ FAQ" name="AddFAQ">
                    </div>
                </li>
            </ul>
        </form>
        <div class="clear"></div>
    </div>
    {{include RussianKawaiAdmin Footer}}
</body>
</html>