<footer id="footer">
        <div class="ft1"></div>
        <div class="ct-foot">
            <ul class="foot-menu">
                <li><a href="">Главная</a></li>
                <li><a href="">О НАс</a></li>
                <li><a href="">Каталог</a></li>
                <li><a href="">Доставка и оплпа</a></li>
                <li><a href="">Заказы</a></li>
                <li><a href="">Начать сотрудничать</a></li>
                <li><a href="">FAQ</a></li>
                <li><a href="">КОнтакты</a></li>
                <li class="help"></li>
            </ul>
            <div class="pay1">
                <div class="tf1">Способы оплаты:</div>
                <div class="sp-pay1">
                    <a href="" class="j1"></a>
                    <a href="" class="j2"></a>
                    <a href="" class="j3"></a>
                    <a href="" class="j4"></a>
                    <a href="" class="j5"></a>
                </div>
                <div class="pt-ov1">
                    <span>И все остальные сопсобы<br>сервиса «робокасса»</span>
                    <div></div>
                </div>
            </div>
            <div class="ft-pd-foot1">
                <div class="ll1">
                    <div class="logo2"><a href=""></a></div>
                    <p>© Copyright - KAWAI 1975-2015</p>
                </div>
                <div class="ll2">
                    <p>Сознание понимает концептуальный стресс. Гендер отчуждает социометрический импульс. Контраст изменяем. Как отмечает Д.Майерс, у нас есть некоторое чувство конфликта, которое возникает с ситуации несоответствия желаемого и</p>
                </div>
                <div class="ll3">
                    <div class="tit">Подпишитесь на рассылку<br>акций, скидок и предложений:</div>
                    <form><input type="text" value="Введите ваш e-mail"><input type="submit" value="подписаться"></form>
                </div>
                <div class="copyr1">
                    <div><span>Site design —</span><a href=""></a></div>
                </div>
            </div>
        </div>
    </footer>
    <div class="modal m1">
        <div class="modal-tb">
            <div class="bg-modal"></div>
            <div class="modal-con">
                <div class="close"></div>
                <div class="ctr1"><div class="title-f j1">Заказать обратный<br>звонок</div></div>
                <div class="clear"></div>
                <input type="text" value="Введите имя">
                <input type="text" value="Введите телефон">
                <input type="text" value="В какое время вам первзонить?">
                <div class="hh1"></div>
                <div class="sub-s">Перезвоните мне<input type="submit" value=""></div>
            </div>
        </div>
    </div>
    <div class="modal m2">
        <div class="modal-tb">
            <div class="bg-modal"></div>
            <div class="modal-con">
                <div class="close"></div>
                <div class="ctr1"><div class="title-f title-f2">Спасибо,<br>мы вам скоро<br>перезвоним !</div></div>
                <div class="clear"></div>
                <div class="sub-s sub-s2">Ок</div>
            </div>
        </div>
    </div>
    <div class="modal m3">
        <div class="modal-tb">
            <div class="bg-modal"></div>
            <div class="modal-con">
                <div class="close"></div>
                <div class="ctr1"><div class="title-f j2">Товар добавлен в корзину</div></div>
                <div class="clear"></div>
                <div class="pt-text">Желаете продолжить покупки или перейти к<br>оформлению заказа?</div>
                <div class="btns-mr1"><a href="" class="bty1">Назад к покупкам</a><a href="/cart/" class="bty2">Оформить заказ</a></div>
            </div>
        </div>
    </div>