{{set CartService cartService = new CartServiceImpl()}}
<header id="header">
    <div class="logo"><a href=""></a></div>
    <div class="t1">Натуральная<br>косметика из Японии</div>
    <a href="mailto:support@kawai.ru" class="eml1">support@<span>kawai.ru</span></a>
    <div class="t2"><a href="" class="mess-now">Заказать обратный звонок</a> 10<span>00</span> — 22<span>00</span> ПН-СБ</div>
    <div class="cart1">
        <div class="et2">
            <div class="et1">
                <div>{{=cartService.CountProductsNum(cartService.GetCookie(client))}} товар на</div>
                <span>{{=cartService.GetTotalCost(cartService.GetCookie(client))}}</span>
            </div>
        </div>
        <a href="/cart/"></a>
    </div>
    {{set string menuActive = PageData["menuActive"] as string}}
    <div class="main-menu">
        <div>
            <ul>
                <li><a href="/">Главная</a></li>
                <li 
                    {{if(menuActive == "about")}}
                        class="active"
                    {{end}}
                    ><a href="/about/">О нас</a>
                </li>
                <li 
                    {{if(menuActive == "catalog")}}
                        class="active"
                    {{end}}
                    ><a href="/catalog/">Каталог</a>
                </li>
                <li 
                    {{if(menuActive == "delivery")}}
                        class="active"
                    {{end}}
                    ><a href="/delivery/">Доставка и оплата</a>
                </li>
                <li 
                    {{if(menuActive == "orders")}}
                        class="active"
                    {{end}}
                    ><a href="/orders/">Мои заказы</a>
                </li>
                <li 
                    {{if(menuActive == "faq")}}
                        class="active"
                    {{end}}
                    ><a href="/faq/">FAQ</a>
                </li>
                <li 
                    {{if(menuActive == "contact")}}
                        class="active"
                    {{end}}
                    ><a href="/contact/">Контакты</a>
                </li>
            </ul>
        </div>
    </div>
</header>