<head>
    <meta charset="utf-8" />
    <link href="/cached_files/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title>Японская натуральная косметика KAWAI прямиком из Японии</title>
    <meta name="keywords" content="Японская косметика, Косметика, Япония, натуральная косметика" />
    <meta name="description" content="«КАВАИ» - это зарекомендовавший себя бренд, который уже на протяжении 40 лет пользуется огромной популярностью в Япони. Мы используем только экологически чистые технологии, из поколения в поколение!" />
    <link rel="stylesheet" href="/cached_files/css/jquery_fancybox.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/cached_files/css/screen.css" type="text/css" media="screen, projection" />
    <!--[if lte IE 6 ]><script type="text/javascript">window.location.href="ie6_close/index_ru.html";</script><![endif]-->
    <!--[if lt IE 9]> <link href= "/cached_files/css/ie8.css" rel= "stylesheet" media= "all" /> <![endif]-->
    <script src="/cached_files/js/jquery.js"></script>
    <script type="text/javascript" src="/cached_files/js/jquery_placeholder.js"></script>
    <script type="text/javascript" src="/cached_files/js/jquery_fancybox_pack.js"></script>
    <script type="text/javascript" src="/cached_files/js/jquery_fancybox-media.js"></script>
    <script type="text/javascript" src="/cached_files/js/jquery_flexslider.js"></script>
    
    <script type="text/javascript" src="/cached_files/js/jquery_formstyler_min.js"></script>
    <script type="text/javascript" src="/cached_files/js/common.js"></script>
</head>