<div class="phones_gradient">
    <div class="w1000 rela">
        <div class="phone_1">8 495 987 66 55</div>
        <div class="email_2">info@kawairu.com</div>
    </div>
</div>
<footer>
    <div class="w1000">
        <a href="/"><div class="logo"></div></a>
        <a href="/"><div class="question">Задать нам вопрос</div></a>
        <div class="menu">
            <ul class="text_menu">
                <li class="menu_li"><a href="/" class="menu_a"><div class="menu_text">О KAWAI</div></a></li>
                <li class="menu_li"><a href="/" class="menu_a"><div class="menu_text">О нас</div></a></li>
                <li class="menu_li"><a href="/" class="menu_a"><div class="menu_text">Каталог</div></a></li>
                <li class="menu_li"><a href="/" class="menu_a"><div class="menu_text">Для оптовиков</div></a></li>
            </ul>
            <a href="/"><div class="home"></div></a>
        </div>
    </div>
</footer>
<script src="/cached_files/jquery.js"></script>