<header>
    <div class="w1000">
        <a href="/"><div class="logo"></div></a>
        <div class="cart">
            <div class="cart_left">
                <div class="cart_count">1</div>
            </div>
            <div class="cart_right">
                <div class="cart_title">Корзина</div>
                <a href="/cart/"><div class="cart_go">Оформить Ваш заказ</div></a>
            </div>
        </div>
        <div class="menu">
            <ul class="text_menu">
                <li class="menu_li"><a href="/" class="menu_a"><div class="menu_text">О KAWAI</div></a></li>
                <li class="menu_li"><a href="/catalog/" class="menu_a"><div class="menu_text">Каталог</div></a></li>
                <li class="menu_li"><a href="/delivery/" class="menu_a"><div class="menu_text">Доставка</div></a></li>
                <li class="menu_li"><a href="/support/" class="menu_a"><div class="menu_text">Написать нам</div></a></li>
            </ul>
            <a href="/"><div class="home"></div></a>
        </div>
    </div>
</header>