<!doctype html>
<html lang="ru">
{{include RussianKawaiAdmin Head}}
<body>
    {{include RussianKawaiAdmin Header}}
    <div class="fl100 zindex">
        <div class="w1000">
            <b>Colors</b> <br />
            1. <a href="/product.color/" target="_blank">All colors</a> <br />
            2. <a href="/product.color/create/" target="_blank">Add new color</a>
            <hr />
            <b>Products</b> <br />
            1. <a href="/products/" target="_blank">All products</a> <br />
            2. <a href="/product/create/" target="_blank">Add new product</a>
            <hr />
            <b>Product Categoryes</b> <br />
            1. <a href="/product.category/" target="_blank">All product category</a> <br />
            2. <a href="/product.category/add/" target="_blank">Create new product category</a> <br />
            <hr />
            <b>FAQ</b> <br />
            1. <a href="/faq/" target="_blank">All QUESTIONS</a> <br />
            2. <a href="/faq/create/" target="_blank">Create FAQ</a> <br />
            <hr />
        </div>
    </div>
</body>
</html>