<!doctype html>
<html lang="ru">
{{include RussianKawaiAdmin Head}}
<body>
    {{include RussianKawaiAdmin Header}}
    {{set List<RussianKawaiShop.Order> orders = PageData["Orders"] as List<RussianKawaiShop.Order>}}
    {{set List<RussianKawaiShop.Order> SentOrders = PageData["SentOrders"] as List<RussianKawaiShop.Order>}}
    <div class="fl100 zindex">
        <div class="w1000">
            <div class="fl100">
                <div class="auth_title all_title">
                    <div class="auth_title_text all_title_text">Order list</div>
                </div>
            </div>
            <div class="fl100 searchmargin">
                <a href="/"><div class="radi4 re">UPDATE ORDERS</div></a>
            </div>
            <table class="fl100 search_result">
                <tr class="search_tr">
                    <td class="search_td">ID</td>
                    <td class="search_td">Customer</td>
                    <td class="search_td">Status</td>
                    <td class="search_td">Email</td>
                    <td class="search_td">Amount</td>
                    <td class="search_td">Action</td>
                </tr>
                {{foreach(RussianKawaiShop.Order order in orders)}}
                <tr class="search_tr">
                    <td class="search_td">{{=order.ID}}</td>
                    <td class="search_td">{{=order.Name}}</td>
                    <td class="search_td">PAID</td>
                    <td class="search_td">{{=order.Email}}</td>
                    <td class="search_td">{{=order.TotalCost}} RUB</td>
                    <td class="search_td"><a href="/order/{{=order.ID}}" class="id_a">More info</a></td>
                </tr>
                {{end}}
            </table>

            <table class="fl100 search_result">
                <tr class="search_tr">
                    <td class="search_td">ID</td>
                    <td class="search_td">Customer</td>
                    <td class="search_td">Status</td>
                    <td class="search_td">Email</td>
                    <td class="search_td">Amount</td>
                    <td class="search_td">Action</td>
                </tr>
                {{foreach(RussianKawaiShop.Order order in SentOrders)}}
                <tr class="search_tr">
                    <td class="search_td">{{=order.ID}}</td>
                    <td class="search_td">{{=order.Name}}</td>
                    <td class="search_td" style="color:green;"><b>SENT</b></td>
                    <td class="search_td">{{=order.Email}}</td>
                    <td class="search_td">{{=order.TotalCost}} RUB</td>
                    <td class="search_td"><a href="/order/{{=order.ID}}" class="id_a">More info</a></td>
                </tr>
                {{end}}
            </table>
        </div>
    </div>
    {{include RussianKawaiAdmin Footer}}
</body>
</html>