<!doctype html>
<html lang="ru">
{{include RussianKawaiShop Head}}
<body>
    {{include RussianKawaiShop Header}}
    <section>
        <div class="w1000">
            <div class="fl textcent h1_center h1_more"><h1><span class="h1">Каталог товаров</span></h1></div>
            <div class="fl100">
                <div class="speedbar">
                    <span class="speedspan"><a href="/" class="speeda">Главная</a></span>»<span class="speedspan">Каталог товаров</span>
                </div>
            </div>
            <div class="fl100 catalog">
                <div class="categories">
                    <div class="cat_block">
                        <div class="fl100 center"><span class="block_title">Другие товары</span></div>
                        <a href="/"><div class="main_category">Базовый N</div></a>
                        <ul class="under_categories">
                            <li><a href="/" class="under_cat">Базовый N крем</a>
                            <li><a href="/" class="under_cat">Базовый N лосьон</a>
                            <li><a href="/" class="under_cat">Базовый N крем для умывания</a>
                        </ul>
                        <a href="/"><div class="main_category">Детос EX</div></a>
                        <a href="/"><div class="main_category">KAWAI «Красота»</div></a>
                        <ul class="under_categories">
                            <li><a href="/" class="under_cat">Базовый N крем</a>
                            <li><a href="/" class="under_cat">Базовый N лосьон</a>
                            <li><a href="/" class="under_cat">Базовый N крем для умывания</a>
                        </ul>
                    </div>
                    <div class="detos_min">
                        <img src="./i/detos.png" class="right_line_img detos_min_img" alt="Детос EX">
                        <div class="right_line_go detos_min_go">
                            <a href="/" class="right_line_go_a detos_min_a"><div class="right_line_go_span">Опробуйте наш</div>пробник Детос EX</a>
                        </div>
                    </div>
                </div>
                <div class="catalog_items">
                    <div class="catalog_block">
                        <div class="catalog_item green_item">
                            <div class="item_img"><img src="./i/temp/shop_4.jpg" alt="Детос EX" class="item_img_img" /></div>
                            <div class="item_title"><span class="item_title_span">Детос EX</span></div>
                            <ul class="item_ul">
                                <li class="item_li"><a href="/" class="item_a">Детос EX Крем для умывания</a>
                                <li class="item_li"><a href="/" class="item_a">Детос EX Крем Лосьон</a>
                                <li class="item_li"><a href="/" class="item_a">Детос EX Крем Крем</a>
                            </ul>
                        </div>
                        <div class="catalog_item green_item">
                            <div class="item_img"><img src="./i/temp/shop_4.jpg" alt="Детос EX пробник" class="item_img_img" /></div>
                            <div class="item_title"><span class="item_title_span">Детос EX пробник</span></div>
                            <ul class="item_ul">
                                <li class="item_li"><a href="/" class="item_a">Детос EX Крем полный набор</a>
                            </ul>
                        </div>
                    </div>
                    <div class="catalog_block">
                        <div class="catalog_item brown_item">
                            <div class="item_img"><img src="./i/temp/shop_1.png" alt="Базовый N" class="item_img_img" /></div>
                            <div class="item_title"><span class="item_title_span">Базовый N</span></div>
                            <ul class="item_ul">
                                <li class="item_li"><a href="/" class="item_a">Базовый N Крем</a>
                                <li class="item_li"><a href="/" class="item_a">Базовый N Лосьон</a>
                                <li class="item_li"><a href="/" class="item_a">Базовый N Крем для умывания</a>
                            </ul>
                        </div>
                        <div class="catalog_item rose_item">
                            <div class="item_img"><img src="./i/temp/shop_2.png" alt="KAWAI Красота" class="item_img_img" /></div>
                            <div class="item_title"><span class="item_title_span">KAWAI Красота</span></div>
                            <ul class="item_ul">
                                <li class="item_li"><a href="/" class="item_a">KAWAI «Красота» Крем</a>
                                <li class="item_li"><a href="/" class="item_a">KAWAI «Красота» Лосьон</a>
                                <li class="item_li"><a href="/" class="item_a">KAWAI «Красота» Крем для умывания</a>
                            </ul>
                        </div>
                        <div class="catalog_item brown_item">
                            <div class="item_img"><img src="./i/temp/shop_1.png" alt="Базовый N №2" class="item_img_img" /></div>
                            <div class="item_title"><span class="item_title_span">Базовый N №2</span></div>
                            <ul class="item_ul">
                                <li class="item_li"><a href="/" class="item_a">Базовый N №2 Крем</a>
                                <li class="item_li"><a href="/" class="item_a">UV & White</a>
                            </ul>
                        </div>
                        <div class="catalog_item red_item">
                            <div class="item_img"><img src="./i/temp/shop_3.png" alt="Делюке" class="item_img_img" /></div>
                            <div class="item_title"><span class="item_title_span">Делюке</span></div>
                            <ul class="item_ul">
                                <li class="item_li"><a href="/" class="item_a">"Делюке" жидкое масло</a>
                            </ul>
                        </div>
                        <div class="catalog_item brown_item">
                            <div class="item_img"><img src="./i/temp/shop_1.png" alt="Базовый S" class="item_img_img" /></div>
                            <div class="item_title"><span class="item_title_span">Базовый S</span></div>
                            <ul class="item_ul">
                                <li class="item_li"><a href="/" class="item_a">Базовый S Шампунь</a>
                            </ul>
                        </div>
                    </div>
                    <div class="catalog_block">
                        <div class="catalog_item blue_item">
                            <div class="item_img"><img src="./i/temp/shop_3.png" alt="Косметика" class="item_img_img" /></div>
                            <div class="item_title"><span class="item_title_span">Косметика</span></div>
                            <ul class="item_ul">
                                <li class="item_li"><a href="/" class="item_a">KAWAI Тушь</a>
                                <li class="item_li"><a href="/" class="item_a">KAWAI Помада</a>
                            </ul>
                        </div>
                        <div class="catalog_item blue_item">
                            <div class="item_img"><img src="./i/temp/shop_3.png" alt="KAWAI Пудра" class="item_img_img" /></div>
                            <div class="item_title"><span class="item_title_span">KAWAI Пудра</span></div>
                            <ul class="item_ul">
                                <li class="item_li"><a href="/" class="item_a">KAWAI Косметичка</a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{include RussianKawaiShop Footer}}
</body>
</html>