<!doctype html>
<html lang="ru">
{{include RussianKawaiShop Head}}
<body>
    {{include RussianKawaiShop Header}}
    <section>
        <div class="w1000">
            <div class="fl textcent h1_center"><h1><span class="h1">Почему выбирают именно нашу продукцию</span></h1></div>
            <div class="home_info">
                <div class="info_li">
                    <img src="/cached_files/i/info_1.png" class="info_li_img li_1" alt="Одна из лучших в мире компаний" />
                    <div>Одна из первых в мире продукция,<br />представленная «КАВАИ» (“KAWAI”)<br />в 2009, получила высокую оценку в<br />области <b>лечения атопического<br />дерматита.</b></div>
                </div>
                <div class="info_li">
                    <img src="/cached_files/i/info_2.png" class="info_li_img li_2" alt="Используем принцип низкокислотных материалов" />
                    <div>В основе продукции «КАВАИ»<br />(“KAWAI”) по уходу за кожей<br />лежит принцип использования<br /><b>низкокислотных материалов.</b></div>
                </div>
                <div class="info_li">
                    <img src="/cached_files/i/info_3.png" class="info_li_img li_3" alt="Наша компания безопасна и надежна" />
                    <div>Первая продукция в<br />косметической промышленности<br />Японии, получившая<br />свидетельство в результате<br />проверки ДНК и других тестов.<br />Продукция компании «КАВАИ»<br />(“KAWAI”) <b>безопасна и надежна.</b></div>
                </div>
            </div>
            <div class="worksheet"><b>Анкетный опрос:</b> Мы проводили анкетирование среди пациентов, предложив ответить на шесть вопросов по использованию данного продукта. 85.8% пациентов почувствовали себя “лучше” или “немного лучше” 3-месячные результаты тестирования - Вакаяма префектурный медицинский университет, отдел дерматологии (приложение из Анкетного опроса).</div>
            <div class="fl100">
                <div class="test_left">
                    <div class="test_title">Клинические методы тестирования:<div class="border_bottom"></div></div>
                    <div class="graph">
                        <ul class="graph_ul">
                            <li class="gl">Улучшение
                            <li class="gl">Заметное улучшение
                            <li class="gl">Никаких изменений
                            <li class="gl">Небольшое изменение
                        </ul>
                    </div>
                </div>
                <div class="years_right">
                    <div class="years">
                        <div class="years_count">40</div>
                        <div class="years_desc"><div class="years_extra">лет конкурирует на рынке Японии</div>перешел на международный уровень</div>
                    </div>
                    <div>Проведенные различные медицинские тесты доказали<br />безопасность и эффективность данного продукта в борьбе<br />с атопическим дерматитом, зафиксировав значительное<br />улучшение состояния кожи. Качество продукции «КАВАИ»<br />(“KAWAI”) общепризнано и направлено на создание<br />безопасной, инновационной и современной<br />продукции, способной спасти мир.</div>
                </div>
                <div class="fl100"><div class="best"><span class="best_percent">90%</span> пациентов почувствовали улучшение.</div></div>
            </div>
        </div>
    </section>
    <div class="fl100 line more_z">
        <div id="left_line" style="width:0px;"></div>
        <div class="w1000">
            <div class="center_line">
                <div class="line_percent">99%</div>
                <div class="line_text">всей продукции «КАВАИ» (“KAWAI”)<br />являются натуральной косметикой</div>
            </div>
        </div>
        <div id="right_line" style="width:0px;">
            <img src="/cached_files/i/detos.png" class="right_line_img" alt="Детос EX" />
            <div class="right_line_go">
                <a href="/" class="right_line_go_a"><div class="right_line_go_span">Опробуйте наш</div>пробник Детос EX</a>
            </div>
        </div>
    </div>
    <div class="fl100 more_z">
        <div class="w1000">
            <div class="shop">
                <div class="shop_item">
                    <a href="/"><img src="/cached_files/i/temp/shop_1.png" alt="Базовый N" class="shop_img" /></a>
                    <a href="/"><div class="shop_title">DETOS EX</div></a>
                    <div class="shop_text">Кремообразное средство для<br />умывания, которое не содержит<br />добавок и обладает слабой<br />кислотностью, мягко воздействует<br />на кожу. Удерживает влагу в коже<br />и эффективно удаляет макияж и<br />очищает поры.</div>
                    <div class="fl100"><a href="/product/15" class="shop_a"><div class="shop_button">Подробнее</div></a></div>
                </div>
                <div class="shop_item">
                    <a href="/"><img src="/cached_files/i/temp/shop_2.png" alt="KAWAI «Красота»" class="shop_img" /></a>
                    <a href="/"><div class="shop_title">KAWAI «Красота»</div></a>
                    <div class="shop_text">Крем для умывания на 99%<br />не содержит добавок. Обладает<br />слабой кислотностью. Содержит<br />коэнзим Q-19. Обеспечивает<br />мягкость и ощущение свежести<br />при умывании.</div>
                    <div class="fl100"><a href="/product/16" class="shop_a"><div class="shop_button">Подробнее</div></a></div>
                </div>
                <div class="shop_item">
                    <a href="/"><img src="/cached_files/i/temp/shop_3.png" alt="Декоративная косметика" class="shop_img" /></a>
                    <a href="/"><div class="shop_title">Декоративная косметика</div></a>
                    <div class="shop_text">Мини-набор состоит из трех<br />косметических кремов для<br />умывания. Кремы упакованы в<br />тюбики, которые удобно носить<br />c собой. прекрасно подходит в<br />качестве подарка, а также<br />незаменим в путешествиях.</div>
                    <div class="fl100"><a href="/" class="shop_a"><div class="shop_button">Подробнее</div></a></div>
                </div>
            </div>
            <div class="fl100">
                <a href="/"><div class="button_bottom">Посмотреть каталог</div></a>
                <div class="bottom_text">Первая продукция в косметической промышленности Японии, получившая свидетельство в результате проверки ДНК и других тестов. Продукция компании <b>«КАВАИ» (“KAWAI”)</b> безопасна и надежна.</div>
            </div>
        </div>
    </div>
    {{include RussianKawaiShop Footer}}
    <script>
        jQuery(window).resize(function () {
            if (jQuery(window).width() > 1000) {
                jQuery('#left_line').css('width', jQuery(window).width() * 0.5 - 526);
                jQuery('#right_line').css('width', jQuery(window).width() * 0.5 - 186);
            }
            else {
                jQuery('#left_line').css('width', '0px');
                jQuery('#right_line').css('width', '313.5px');
            }
        });

        jQuery(window).resize();
    </script>
</body>
</html>